@using Ca.Skoolbo.Homesite.Models.LeaderboardModels
@model LeaderboardViewModel
<h4 class="text-center">
    Congratulations to this week’s top performing students!
</h4>
<div class="table-scroll">
    <table class="table table-bordered table-view table-leaderboard">
        <colgroup>
            <col style="width: 5%" />
            <col style="width: 85%;" />
            <col style="width: 15%" />
        </colgroup>
        <tbody>
            @if (Model != null)
            {
                int index = 0;
                foreach (var item in Model.LeaderboardData)
                {
                    index++;
                    <tr>
                        <td class="text-center dl-horizontal vert-align" style="width: 5%">@index</td>
                        <td class="text-left player-info" style="font-size: 13px !important;">
                            <div class="row">
                                <div class="col-md-10 col-xs-8">
                                    <img src="@item.ProfileImageDefaultUrl" data-src="@item.ProfileImageUrl" alt="@(item.DisplayName)" class="lazy" />
                                    @(item.DisplayName)
                                    @if (!string.IsNullOrEmpty(item.ClassName))
                                    {
                                        <text>  - a student from class @item.ClassName</text>
                                    }
                                    @if (item.SchoolCode == "SIN" || (item.SchoolCode != item.State && !string.IsNullOrEmpty(item.SchoolName)))
                                    {
                                        <text>
                                            <i>
                                                , @item.SchoolName
                                            </i>
                                        </text>

                                    }
                                    else
                                    {
                                        <text>
                                            <i>
                                                , Team @item.SchoolCode
                                            </i>
                                        </text>
                                    }

                                </div>
                                <div class="col-md-2 col-xs-4 text-right">
                                    <img src="@item.StateDefault" data-src="@(Model.Location==Location.Country?item.SchoolStateLogoUrl:item.CountryLogoUrl)" class="pull-right  img-responsive lazy" />
                                    @*<img data-src="@item.SchoolStateLogoUrl" src="@item.StateDefault" class="pull-right country-image img-responsive lazy" />*@
                                </div>
                            </div>
                        </td>

                        <td>
                            @if (item.Score > 3000)
                            {
                                <text>+3000</text>
                            }
                            else
                            {
                                @(string.Format("{0:##,###}", item.Score))
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
