@using Ca.Skoolbo.Homesite.Models.LeaderboardModels
@model WidgetModel
@{
    Layout = null;
    var location = Model.Location == Location.Global ? "world" : "country";
}
@if (Model != null)
{
    <div class="clearfix"></div>
    <div class="row widget">
        <div class="col-md-8 margin-bottom-10 margin-top-10 widget-left">
            @if (Model.Widgets.IsNotNullOrEmpty())
            {
                foreach (var item in Model.Widgets)
                {
                    <div class="span2">
                        <div class="widget-title">
                            <img class="widget-image" width="50" height="50" src="@item.Image">
                            <span class="widget-value">@item.ValueDisplay</span>
                        </div>

                        <p class="widget-name">
                            @item.DisplayName
                        </p>
                    </div>
                }
            }
        </div>
        <div class="col-md-4 total-answer @(location)">
            <div class="score-wrap col-sm-8 col-xs-12">
                <div class="totalScore" id="total-answer-score" data-location="@(location)">0</div>
            </div>
            <div class="box col-sm-4 col-xs-12">
                <div class="box-label">Answers</div>
                <div class="box-flag">
                    <img width="70" height="60" src="~/Images/Leaderboad/@(location).png">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
