@using Ca.Skoolbo.Homesite.Helpers
@using Ca.Skoolbo.Homesite.Helpers.Configs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Download";
    ViewBag.ActiveMenu = "Download";
}
@section styles
{
    <link href="~/Content/custom/download.css?v=4" rel="stylesheet" />
}
<div class="col-md-12 header-page">
    <h1 class=" header">Explore Skoolbo on every platform</h1>
    <p class="header-description">
        Skoolbo is available on PC, Mac, iOS, Android and <a href="@WebConfigHelper.DashboardLink" target="_bank">web browser</a>.
    </p>
</div>
<div class="col-md-12 clear-padding">
    <div class="col-md-11 col-lg-offset-1">
        <h3 class="header-guides">Skoolbo Guides</h3>
    </div>
    <div class="col-md-12 block-list-guid">

        <div class="block-guid-item">
            @DownloadGuid("~/Images/Downloads/pdf-file.png",
                    "https://skoolbo.s3.amazonaws.com/guides_ca/Parent%20Guide%20CAN%206%20APR%202016.pdf",
                    "",
                    "Parents Guide")

        </div>
        <div class="block-guid-item">
            @DownloadGuid("~/Images/Downloads/pdf-file.png",
                    "https://skoolbo.s3.amazonaws.com/guides_ca/Teacher%20Guide%20CA%205%20May%202016.pdf",
                    "",
                    "Teacher Guide")
        </div>
        <div class="block-guid-item">
            @DownloadGuid("~/Images/Downloads/pdf-file.png",
                    "https://skoolbo.s3.amazonaws.com/guides_ca/SkoolboCA-%20Technical%20Guide%20Dec%2011%20%282%29.pdf",
                    "",
                    "School technical Guide")
        </div>
        <div class="block-guid-item">
            @DownloadGuid("~/Images/Downloads/pdf-file.png",
                    "https://skoolbo.s3.amazonaws.com/guides_ca/CA_parents_letter_.pdf",
                    "",
                    "Letter for School to send to Parents")
        </div>

        <div class="block-guid-item">
            @DownloadGuid("~/Images/Downloads/excel-file.png",
                    "https://skoolbo.s3.amazonaws.com/guides_ca/Student_Accounts_-_Bulk_Upload-CAN%20version.xlsx",
                    "",
                    "Student Accounts - Bulk Upload")
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 tab-app clear-padding">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a data-toggle="tab" role="tab" aria-controls="skoolbo-app" href="#skoolbo-app">SKOOLBO APP</a>
            </li>
            @*<li role="presentation">
                    <a data-toggle="tab" role="tab" aria-controls="skoolbo-teacher-app" href="#skoolbo-teacher-app">SKOOLBO TEACHER APP</a>
                </li>*@
            <li class="clear-padding" role="presentation">
                <a class="clear-padding" data-toggle="tab" role="tab" aria-controls="skoolbo-popsnaz" href="#skoolbo-popsnaz"><img src="~/Images/Downloads/PopSnaz/popsnaz-logo.png" /></a>
            </li>
            <li class="clear-padding " role="presentation">
                <a class="clear-padding" data-toggle="tab" role="tab" aria-controls="skoolbo-zippy-shine" href="#skoolbo-zippy-shine">
                    <img height="40" src="~/Images/Downloads/ZippyShine/zippy_shine_logo.png">
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="skoolbo-app" role="tabpanel">
            <div class="row block-list-download">

                <div class="col-md-1"></div>


                <div class="col-md-10">

                    @*<div class="col-md-4 text-center">
                            <a target="_blank" href="https://skoolbo.s3.amazonaws.com/v2/b2004/SkoolboPH_v2.0.4.msi">
                                <img src="~/Images/Downloads/icon-07.png">
                            </a>
                            <ul class="download-info">
                                <li class="button-download"><a class="button-image" target="_blank" href="https://skoolbo.s3.amazonaws.com/v2/b2004/SkoolboPH_v2.0.4.msi">Download Skoolbo for <b>PC</b></a></li>
                                <li class="ver"><a target="_blank" href="https://skoolbo.s3.amazonaws.com/v2/b2004/SkoolboPH_v2.0.4.msi">ver 2.0.4</a></li>
                                <li class="date"><a target="_blank" href="https://skoolbo.s3.amazonaws.com/v2/b2004/SkoolboPH_v2.0.4.msi">15 Nov, 2015</a></li>
                            </ul>
                        </div>*@
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://skoolbo.s3.amazonaws.com/v2/b2101/SkoolboCA_v2.1.1.msi",
         "~/Images/Downloads/icon-07.png",
         "2.1.1",
         "20 May, 2016",
         "Download Skoolbo for <b>PC</b>")
                    </div>
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://skoolbo.s3.amazonaws.com/v2/b2101/SkoolboCA_v2.1.1.dmg",
         "~/Images/Downloads/icon-06.png",
         "2.1.1",
         "20 May, 2016",
         "Download Skoolbo for <b>MAC</b>")
                    </div>
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://itunes.apple.com/us/app/skoolbo-canada/id1115592163?ls=1&mt=8",
         "~/Images/Downloads/icon-04.png",
         "2.1.1",
         "23 May, 2016",
         "Download Skoolbo for <b>iOS</b>")
                    </div>
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://play.google.com/store/apps/details?id=com.skoolbo.coreskillsca",
         "~/Images/Downloads/icon-05.png",
         "2.1.1",
         "23 May, 2016",
         "Download Skoolbo for <b>ANDROID</b>")
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
            <div class="clearfix">

            </div>
        </div>
        <div class="tab-pane" id="skoolbo-popsnaz" role="tabpanel">
            <div class="row block-list-download">
                <div class="col-md-1"></div>
                <div class="col-md-12">
                    <br>
                    <h3 class="text-center">Print and color your own Skoolbo trophy or print off a superhero award.</h3><br><br>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 text-center">
                            @DownloadPopSnaZBlock("~/Images/Downloads/PopSnaz/TrophyPic.png", Url.Action("DownloadFile", new { id = "3D-Cup" }))
                        </div>
                        <div class="col-md-6 text-center">
                            @DownloadPopSnaZBlock("~/Images/Downloads/PopSnaz/SuperHeroStickers.png", Url.Action("DownloadFile", new { id = "SuperHero" }))
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br><br><br>
                    <h3 class="text-center">Click&nbsp;<strong>PopSnaz&nbsp;</strong><span>on the Skoolbo App</span></h3><h4 class="text-center">Hover your phone or tablet over your print out and celebrate with PopSnaz magic!</h4><br>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="skoolbo-zippy-shine" role="tabpanel">
            <div class="row block-list-download">
                <div class="col-md-10 col-md-offset-1 margin-bottom-10">
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://itunes.apple.com/ca/app/zippy-shine/id1119099226?mt=8",
                         "~/Images/Downloads/icon-04.png",
                         "1.0.1",
                         "8 July, 2016",
                         "Download Zippy Shine for <b>iOS</b>")
                    </div>
                    <div class="col-md-6 text-center">
                        @DownloadAppBlock("https://play.google.com/store/apps/details?id=com.skoolbo.zippyshine",
                         "~/Images/Downloads/icon-05.png",
                         "1.0.1",
                         "5 July, 2016",
                         "Download Zippy Shine for <b>ANDROID</b>")
                    </div>

                </div>

                @*<div class="col-md-10 col-md-offset-1 margin-top-10">
                    <div class="col-md-6 text-center">
                        @DownloadAppPaymentZippyShine("https://itunes.apple.com/ca/app/zippy-shine/id1119099226?mt=8",
                            "~/Images/Downloads/icon-07.png",
                            "1.0.1",
                            "14 July, 2016",
                            "Download Zippy Shine for <b>PC</b>",
                            EncryptHelper.GeneratePaymentKey("PC")
                            )
                    </div>

                    <div class="col-md-6 text-center">
                        @DownloadAppPaymentZippyShine("https://play.google.com/store/apps/details?id=com.skoolbo.zippyshine",
                         "~/Images/Downloads/icon-06.png",
                         "1.0.1",
                         "14 July, 2016",
                         "Download Zippy Shine for <b>MAC</b>",
                         EncryptHelper.GeneratePaymentKey("MAC")
                         )
                    </div>
                </div>*@
                <div class="col-md-1"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


@helper DownloadPopSnaZBlock(string imageUrl, string url)
{
    <a download="@Url.Content(imageUrl)" href="@url">
        <img src="@Url.Content(imageUrl)" />
    </a>
    <ul class="download-info">
        <li class="button-download">
            <a class="button-image text-center" style="line-height: 35px; padding-left: 0; display: block; height: 35px;" href="@url">DOWNLOAD</a>
        </li>
    </ul>
}

@helper DownloadAppBlock(string appUrl, string imgUrl, string version, string release, string name)
{
    <div class="download-box">
        <a class="download-box-image" target="_blank" href="@appUrl">
            <img class="img-responsive" src="@Url.Content(imgUrl)">
        </a>
        <a class="download-box-des" target="_blank" href="@appUrl">
            @Html.Raw(name)
        </a>
        <a class="download-box-ver" target="_blank" href="@appUrl">ver @version</a>
        <a class="download-box-date" target="_blank" href="@appUrl">@release</a>
        @*<ul class="download-info">
                <li class="button-download">
                    <a class="button-image" target="_blank" href="@appUrl">
                        @Html.Raw(name)
                    </a>
                </li>
                <li class="ver"><a target="_blank" href="@appUrl">ver @version</a></li>
                <li class="date"><a target="_blank" href="@appUrl">@release</a></li>
            </ul>*@
    </div>

}

@helper DownloadAppPaymentZippyShine(string appUrl, string imgUrl, string version, string release, string name, string key)
{
    <div class="download-box">
        <a class="download-box-image" target="_blank" href="@appUrl">
            <img class="img-responsive" src="@Url.Content(imgUrl)">
        </a>
        <a class="download-box-des" target="_blank" href="@appUrl">
            @Html.Raw(name)
        </a>
        <a class="download-box-ver" target="_blank" href="@appUrl">ver @version</a>
        <a class="download-box-date" target="_blank" href="@appUrl">@release</a>
        <div class="download-box-payment">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="business" value="shane.hill@skoolbo.com">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="item_name" value="Zippy Shine CA test">
                <input type="hidden" name="amount" value="2.79">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="cancel_return" value="http://skoolbo.ca/downloads">
                <input type="hidden" name="return" value="@Url.Action("Success","ZippyShinePayment",new {id=key},Request.Url.Scheme)">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="custom" value="@key">
                <input type="hidden" name="payer_business_name" value="Skoolbo">
                <input type="hidden" name="notify_url" value="http://auth.zippyshine.com/payment/notify">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">
            </form>

        </div>
    </div>

}

@helper DownloadGuid(string imageUrl, string url, string date, string name)
{
    <a target="_blank" href="@url"><img src="@Url.Content(imageUrl)"></a>
    <p class="guid-item-name">
        <a target="_blank" href="@url">@Html.Raw(name)</a>
    </p>
if (!string.IsNullOrEmpty(date))
{
        <p class="guid-item-date">
            <a target="_blank" href="@url">@Html.Raw(date)</a>
        </p>
}

}