@using Ca.Skoolbo.Homesite.Helpers.Configs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Faq";
    ViewBag.ActiveMenu = "Faq";
}
@section styles{
    <link href="~/Content/custom/faq.css" rel="stylesheet" />
}


<div class="col-md-10 col-md-offset-1 brochure-bg contact-top">
    <h2 class="text-center">FAQ</h2>
    <h5>Please read the following for more details and our FAQ’s: </h5>
    <div class="panel panel-info">
        <div class="panel-heading">
            1.	What does the school license cover?
        </div>
        <div class="panel-body">
            The license enables all students and teachers to use the Skoolbo program at both school.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            2.	How much will the school need to pay in future years?
        </div>
        <div class="panel-body">
            Nothing! Forever Free means that you will never pay the school license.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            3.	Why do you need teacher’s email addresses?
        </div>
        <div class="panel-body">
            These form part of teachers’ logins together with a password that we will create for them.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
           4.	What age groups should I use it with?
        </div>
        <div class="panel-body">
            Skoolbo is great for all elementary school children and this is where we see the greatest improvement. Many schools also find considerable success with secondary pupils in need of further consolidation of key skills in Literacy and Numeracy and with pupils who have English as a second language.
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            5.	What technology can schools use?
        </div>
        <div class="panel-body">
            <p>Skoolbo is available on:</p>
            <ul>
                <li>Tablets - iPads, Androids and Win 8</li>
                <li>Desktops - PCs and Macs</li>
                <li>Smartphones</li>
                <li>Through the web browser - this is an HTML 5 version and is playable on most modern internet browsers</li>
            </ul>
            <p>
                The tablets and desktop versions are downloadable apps. These enjoy wonderful 3D graphics and include all of the additional features (Language Dragons, Pop Snaz) and they are the versions children most enjoy playing. The web browser version is a simplified environment that is useful when schools have difficulty deploying the app versions on their network.
            </p>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            6. Our school has high levels of pupil mobility. How easy is it to make changes to the teacher and student accounts?
        </div>
        <div class="panel-body">
            Very easy! You can add and remove pupils within the School Administration Dashboard.
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
           7.	Do children need headphones?
        </div>
        <div class="panel-body">
            It is not essential but the experience for children is usually improved by the use of headphones as they will be able to hear more clearly and it helps to keep noise in the classroom to an acceptable level.
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            8.	Do schools need a one-to-one technology environment?
        </div>
        <div class="panel-body">
            Ideally children will access the program on a device that they alone are using. However this does not mean that you need a device for every child in your class. Many schools find that having one or two groups of children using Skoolbo, while the rest of the class is engaged in other activities, works very well.
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            9.	Does Skoolbo also work offline?

        </div>
        <div class="panel-body">
            Yes, Skoolbo works offline and syncs the data when it finds a connection. Children may use any device and their data automatically syncs to the cloud and across devices.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            10.	Can Skoolbo be played on an interactive whiteboard?

        </div>
        <div class="panel-body">
            Yes, Skoolbo shows brilliantly on an interactive whiteboard. The actual program was designed more for single-child use, however we have seen many classes successfully employ it in this way. Furthermore, we have created whole-class activities especially designed for interactive whiteboards and data projectors. These are accessed via the Teacher App, also available for download on our <a href="@Url.RouteUrl("Download")">Downloads</a> page.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            11.	Can the children use Skoolbo at home and is there an additional charge?

        </div>
        <div class="panel-body">
            Yes, we encourage children to use Skoolbo at both home and school without additional cost. They are able to use whatever devices they have access to and the data will automatically flow between home and school.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            12.Is there any advertising on Skoolbo?

        </div>
        <div class="panel-body">
            No, there is no advertising to children on Skoolbo and there are no "in app" purchases.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            13.	Do parents have to purchase additional reports?

        </div>
        <div class="panel-body">
            No. Shortly we will be releasing additional premium reports for parents which they may purchase for a small amount if they wish to. Children’s access to the game will not be affected if these reports are not purchased.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            14.	Will teachers receive premium reports?

        </div>
        <div class="panel-body">
            Yes, teachers and schools will have access to a wide range of reports, all of which are included in your Forever Free license.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            15.	What is the recommended usage of Skoolbo?

        </div>
        <div class="panel-body">
            We recommend 4-5 twenty minute sessions of Skoolbo a week for optimal learning.

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            16.	Do the teachers need to set tasks for each child?

        </div>
        <div class="panel-body">
            No, the Skoolbo Spiral Learning Algorithm ensures every child receives appropriately differentiated curriculum. Setting tasks is an optional feature available from the Teacher Dashboard.

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            17.	Have you finished developing Skoolbo?


        </div>
        <div class="panel-body">
            No! We have spent five years and over 200,000 development hours creating Skoolbo. There's no question it's been a big effort, however we are still bubbling with ideas and have many exciting upcoming developments. Our full time development team comprises of dozens of super passionate and educators, programmers and graphic designers / animators.

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            18. How does Skoolbo ensure privacy and online safety?

        </div>
        <div class="panel-body">
            Privacy and child safety are of utmost importance to us. Please refer to our
            <a href="@Url.RouteUrl("privacy")">Privacy Policy </a> and
            <a href="@Url.RouteUrl("safety")">Child Safety Policy </a>for further details.
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            19.	What support can schools get?
        </div>
        <div class="panel-body">
            Please contact us any time on <a href="mailto:@(WebConfigHelper.EmailInfo)">@(WebConfigHelper.EmailInfo)</a> or <strong>@(WebConfigHelper.PhoneNumber)</strong> where your enquiry will be answered by one of our Skoolbo Implementation Managers. Please let us know how we can help!
        </div>
    </div>

</div>

