@model List<Ca.Skoolbo.Homesite.Models.FeedModel>

@{
    Layout = null;

}
<link href="~/Scripts/extension/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<script src="~/Scripts/extension/jquery.bxslider/jquery.bxslider.min.js"></script>
<div class="clearfix"></div>

@if (Model != null && Model.Any())
{
    var isPager = (Model.Count > 1).ToString().ToLower();
    <script type="text/javascript">
        $(document).ready(function() {
            $('.bxslider').bxSlider({
                controls: false,
                auto: @(isPager),
                pager: @(isPager),
                speed: 1000,
                pause: 7000
            });
        });
</script>
    <div class="col-sm-12 margin-top-10">
        <ul class="bxslider margin-bottom-0">
            @foreach (var item in Model)
            {
                var isImage = !string.IsNullOrEmpty(item.Image);
                
                <li>
                    <div class="row">
                        @if (isImage)
                        {
                            <div class="col-sm-2 col-md-2 col-lg-1  bxslider-avatar">
                                <a href="@item.Link" target="_blank">
                                    <img src="@item.Image" class="img-responsive" />
                                </a>
                            </div>
                        }
                        
                        <div class="@(isImage ? "col-sm-10 col-md-10 col-lg-11" : "col-sm-12") bxslider-content">
                            <h4 class="color-green text-bold  margin-bottom-5 margin-top-0">
                                <a href="@item.Link" target="_blank"> @item.Title </a>
                            </h4>
                            <p>
                                @Html.Raw(item.Summary)
                            </p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

}
