@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Terms and Conditions";
}

@section styles{
    <link href="~/Content/custom/safety.css" rel="stylesheet" />
}


<div class="col-lg-12 margin-top-10">
    <h2 class="text-center">Skoolbo Canada Terms and Conditions</h2>
    <h5 class="text-center"><i>Policy effective 1st January 2016</i></h5>
    <p>The <i>Skoolbo Canada Terms and Conditions</i> governs the use of <a href="@Url.Action("Index")">www.skoolbo.ca</a> and associated downloadable apps. The <i>Skoolbo Canada Terms and Conditions</i> should be read in conjunction with the Skoolbo Canada Privacy Policy; and the <i>Skoolbo Canada Child Safety Policy</i>; which together form the full terms and conditions of Skoolbo’s agreement with the User.</p>
    <p>Please read the <i>Skoolbo Canada Terms and Conditions</i> in full before using the Skoolbo Services. If you do not accept these terms and conditions, please do not use the Skoolbo Services. Using the Skoolbo Services implies that you accept the <i>Skoolbo Canada Terms and Conditions</i>.</p>
    <p>From time to time Skoolbo may modify the Skoolbo Canada Terms and Conditions. School Administrators, Teachers and Parents will be notified of any updated policy and the most current version may be found at <a href="@Url.Action("TermsAndConditions")">www.skoolbo.ca/terms</a>.</p>

    <ol class="safety-list">
        <li>
            <b>Account Establishment Process</b>
            <ul>
                <li>Skoolbo is open to children beneath the age of 18.</li>
                <li>Accounts may be created by teachers and parents.</li>
                <li>We collect minimal, non-identifiable information from children.</li>
                <li>Children are able to link their accounts to parents, teachers and other known children.</li>
            </ul>
        </li>
        <li>
            <b>What License does Skoolbo grant?</b>
            <ul>
                <li>Skoolbo grants the User a personal, limited, non-exclusive, non-transferable, non-sublicensable revocable license to install and use the Friend Our World Services for non-commercial use. The acquired rights are subject to compliance with this License and Skoolbo Canada Terms and Conditions. Any commercial use is prohibited. The User is expressly prohibited from sub-licensing, renting, leasing, transferring or otherwise distributing the Application or rights to use the Application.</li>
            </ul>
        </li>
        <li>
            <b>Skoolbo’s Trademarks, Logos, Graphics, Audio or Other Assets.</b>
            <ul>
                <li>Unless otherwise stated the User may not use or alter Skoolbo’s trademarks, logos, graphics, audio or other assets included in the Skoolbo Services in any way other than for their intended purposes.</li>
            </ul>
        </li>
        <li>
            <b>Reservation of Rights</b>
            <ul>
                <li>Skoolbo reserves all right, title and interest in the Skoolbo Services (including all characters, storyline, images, photographs, animations, video, audio, music, text), and all associated copyrights, trademarks, and other intellectual property rights therein.</li>
                <li>The User may not decompile, disassemble, or reverse engineer the Skoolbo Services, or any component thereof, by any means whatsoever.</li>
                <li>The User may not “hack” or intentionally degrade the Skoolbo Services.</li>
                <li>The User may not remove, alter, or obscure any product identification, copyright, or other intellectual property notices in the Skoolbo Services. All rights not expressly granted herein are reserved by Skoolbo.</li>
            </ul>
        </li>
        <li>
            <b>The Skoolbo Services Uptime</b>
            <ul>
                <li>Skoolbo takes all reasonable steps to ensure the Skoolbo Services are available 24 hours every day. However, websites and other online applications sometimes encounter downtime due to server and other technical issues. Skoolbo will not be liable if the Skoolbo Services are unavailable at any time.</li>
                <li>Where possible Skoolbo will try to give advance warning of maintenance issues but shall not be obliged to do so.</li>
            </ul>
        </li>
        <li>
            <b>Responsibilities of Users</b>
            <ul>
                <li>It is the responsibility of every User to in no way try to “hack” or intentionally degrade the Skoolbo Services.</li>
            </ul>
        </li>
        <li>
            <b>Material the User sends to Skoolbo or posts on <a href="@Url.Action("Index", "Home")">www.skoolbo.ca</a>:</b>
            <ul>
                <li>With the exception of personally identifiable information (see Skoolbo Privacy Policy), any material the User sends to Skoolbo or posts on <a href="@Url.Action("Index", "Home")">www.skoolbo.ca</a> shall be considered non-proprietary and not confidential. Unless the User advises to the contrary Skoolbo will be free to copy, disclose, distribute, incorporate and otherwise use such material for any and all purposes.</li>
            </ul>
        </li>
        <li>
            <b>Links to other Websites</b>
            <ul>
                <li>Any links to third party websites located on www.skoolbo.ca are provided for the User’s convenience only.</li>
                <li>Skoolbo takes all reasonable steps to ensure any links to third party websites are appropriate. Skoolbo is not responsible for the content on any linked third party website. If the User chooses to access a third party website linked to from <a href="@Url.Action("Index", "Home")">www.skoolbo.ca</a>, it is at the User’s own risk. The User is encouraged to notify Skoolbo at <a href="mailto:info@skoolbo.ca">info@skoolbo.ca</a> if there are any inappropriate links on <a href="@Url.Action("Index")">www.skoolbo.ca.</a></li>

            </ul>
        </li>
        <li>
            <b>Links from other Websites</b>
            <p>The User may provide a link to <a href="@Url.Action("Index", "Home")">www.skoolbo.ca</a> on another website on the basis that:</p>
            <ul>
                <li>The User does not in any way imply that Skoolbo is endorsing any services or products unless this has been specifically agreed in writing with Skoolbo.</li>
                <li>The User does not misrepresent the relationship between the User and Skoolbo.</li>
                <li>The User does not present any false information about Skoolbo.</li>

            </ul>
        </li>
        <li>
            <b>Virus protection</b>
            <ul>
                <li>We make every effort to check and test material at all stages of production, however you must take your own precautions to ensure that the process which you employ for accessing this website does not expose you to the risk of viruses, malicious computer code or other forms of interference which may damage your own computer system.</li>
                <li>We can’t accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur whilst using material derived from this website.</li>
            </ul>
        </li>

        <li>
            <b>Viruses, hacking and other offences</b>
            <ul>
                <li>You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.</li>
                <li>By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them.</li>
            </ul>
        </li>

        <li>
            <b>Disclaimer</b>
            <ul>
                <li>The use of any part of the Skoolbo Services is entirely at the User’s own risk, for which Skoolbo shall not be liable.</li>
                <li>It shall be the User’s own responsibility to ensure the Skoolbo Services meet the User’s specific requirements.</li>
                <li>Skoolbo takes all reasonable steps to ensure that the information on the Skoolbo’s Services is correct. However, Skoolbo does not guarantee the correctness or completeness of material contained within the Skoolbo Services. Skoolbo may make changes to the material contained within the Skoolbo Services at any time and without notice.</li>
                <li>Skoolbo takes all reasonable care to ensure the maintenance and security of the User’s data. However, Skoolbo does not guarantee the data. Skoolbo accepts no responsibility for a temporary or permanent loss of data.</li>
            </ul>
        </li>
        <li>
            <b>Maximum Liability</b>
            <ul>
                <li>The User agrees that Skoolbo is not liable in any way.</li>
                <li>The User agrees that Skoolbo shall not be liable for any consequential damages.</li>
                <li>The User agrees that none of the Supporting Partners of Skoolbo are liable in any way.</li>

            </ul>
        </li>
        <li>
            <b>Governing Jurisdiction</b>
            <ul>
                <li>The <i>Skoolbo Canada Terms and Conditions</i> shall be governed by and construed in accordance with Canadian law. Any dispute(s) arising in connection with this Legal Notice are subject to the exclusive jurisdiction of Canada.</li>
                <li>If any provision of the terms and provisions within the <i>Skoolbo Canada Terms and Conditions</i> are determined to be invalid, it shall not affect the validity and enforcement of the remaining terms and provisions within <i>Skoolbo Canada Terms and Conditions</i>.</li>
            </ul>
        </li>
    </ol>
    <p>
        <b>For further information please contact Skoolbo at:</b>
        <br />
        Skoolbo Canada Limited
        <br />
        <a href="mailto:info@learnattax.com">info@learnattax.com</a>
        <br />
        Phone: 020 8133 5253
    </p>
</div>

